<!DOCTYPE html>
{namespace neos=Neos\Neos\ViewHelpers}
{namespace fusion=Neos\Fusion\ViewHelpers}
<html>
<head>
	<f:section name="stylesheets">
		<meta name=viewport content="width=device-width,initial-scale=1">

		<link rel="apple-touch-icon" sizes="57x57" href="{f:uri.resource(path: 'Favicon/apple-icon-57x57.png', package: 'Joekolade.Waldorf')}">
		<link rel="apple-touch-icon" sizes="60x60" href="{f:uri.resource(path: 'Favicon/apple-icon-60x60.png', package: 'Joekolade.Waldorf')}">
		<link rel="apple-touch-icon" sizes="72x72" href="{f:uri.resource(path: 'Favicon/apple-icon-72x72.png', package: 'Joekolade.Waldorf')}">
		<link rel="apple-touch-icon" sizes="76x76" href="{f:uri.resource(path: 'Favicon/apple-icon-76x76.png', package: 'Joekolade.Waldorf')}">
		<link rel="apple-touch-icon" sizes="114x114" href="{f:uri.resource(path: 'Favicon/apple-icon-114x114.png', package: 'Joekolade.Waldorf')}">
		<link rel="apple-touch-icon" sizes="120x120" href="{f:uri.resource(path: 'Favicon/apple-icon-120x120.png', package: 'Joekolade.Waldorf')}">
		<link rel="apple-touch-icon" sizes="144x144" href="{f:uri.resource(path: 'Favicon/apple-icon-144x144.png', package: 'Joekolade.Waldorf')}">
		<link rel="apple-touch-icon" sizes="152x152" href="{f:uri.resource(path: 'Favicon/apple-icon-152x152.png', package: 'Joekolade.Waldorf')}">
		<link rel="apple-touch-icon" sizes="180x180" href="{f:uri.resource(path: 'Favicon/apple-icon-180x180.png', package: 'Joekolade.Waldorf')}">
		<link rel="icon" type="image/png" sizes="192x192"  href="{f:uri.resource(path: 'Favicon/android-icon-192x192.png', package: 'Joekolade.Waldorf')}">
		<link rel="icon" type="image/png" sizes="32x32" href="{f:uri.resource(path: 'Favicon/favicon-32x32.png', package: 'Joekolade.Waldorf')}">
		<link rel="icon" type="image/png" sizes="96x96" href="{f:uri.resource(path: 'Favicon/favicon-96x96.png', package: 'Joekolade.Waldorf')}">
		<link rel="icon" type="image/png" sizes="16x16" href="{f:uri.resource(path: 'Favicon/favicon-16x16.png', package: 'Joekolade.Waldorf')}">
		<link rel="manifest" href="{f:uri.resource(path: 'Favicon/manifest.json', package: 'Joekolade.Waldorf')}">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="msapplication-TileImage" content="{f:uri.resource(path: 'Favicon/ms-icon-144x144.png', package: 'Joekolade.Waldorf')}">
		<meta name="theme-color" content="#ffffff">

		<link rel="author" href="humans.txt" />

		<link rel="stylesheet" href="{f:uri.resource(path: 'Styles/main.css', package: 'Joekolade.Waldorf')}">
	</f:section>
	<f:section name="headScripts">
		<script src="{f:uri.resource(path: 'JavaScript/vendor/modernizr.js', package: 'Joekolade.Waldorf')}"></script>
	</f:section>
</head>
<body>

<f:section name="body">
	{bgimage -> f:format.raw()}
	<div class="bg-sign" style="{svglogo}"></div>

	<div class="mobile-menu">
		<div class="menu-background" style="cursor: pointer;"></div>
		<div class="app-menu-container">
			<div class="app-menu">
				<div class="top">
					<section class="title"><h1><a href="{homelink}">{page.title}</a></h1></section>

					<nav>
						<ul>
							<li class="current"><a href="#">Home</a></li>
							<li><a href="#">Aktuelles</a></li>
							<li><a href="">Kontakt</a></li>
							<li><a href="">Anmeldung</a></li>
						</ul>
					</nav>
				</div>
				<div class="bottom">
					<h2>Kontakt</h2>
					<p>
						<b>Waldorfkindergarten Biberach</b><br>
						Rindenmooser Straße 12<br>
						88400 Biberach
					</p>
					<p>
						<a href="tel:0049735175422">07351 / 75422</a><br>
						<a
								href="mailto:info@waldorfkindergarten-biberach.de">info@waldorfkindergarten-biberach.de</a>
					</p>
				</div>
			</div>
		</div>
	</div>


	<header>
		<section class="title"><h1>{page.title}</h1></section>
		<a class="hamburger menu-toggle" href="#" title="Menu"><span class="line line-1"></span> <span
				class="line line-2"></span> <span class="line line-3"></span></a>
		<section class="menu">
			<nav>

				{parts.topmenu -> f:format.raw()}

			</nav>
		</section>
	</header>
	<section class="content">
		<div class="joekolade-waldorf-textimageleft joekolade-waldorf-startbox">

			{newsimage -> f:format.raw()}

			<div class="header">

				<f:if condition="{neos:rendering.inBackend()}">
					<f:then>
						<div class="date backend" title="Datum bitte im Inspektor bearbeiten!">
							{month} {year}
						</div>
					</f:then>
					<f:else>
						<div class="date">
							{month} {year}
						</div>
					</f:else>
				</f:if>
				<neos:contentElement.wrap node="{node}">
					<neos:contentElement.editable property="title" tag="h1" class="title" />
					<neos:contentElement.editable property="subtitle" tag="h2" class="subtitle" />
					<neos:contentElement.editable property="teaser" tag="div" class="lead" />
				</neos:contentElement.wrap>
			</div>
		</div>

		{content.main -> f:format.raw()}

	</section>
	<footer>
		<div class="sitemap">

			{parts.menuLeft -> f:format.raw()}
			{parts.menuMiddle -> f:format.raw()}
			{parts.menuRight -> f:format.raw()}

		</div>
		<footer>
			{parts.footerMenu -> f:format.raw()}
			<!--
			<a href="">Waldorfschule Biberach</a> <a href="">Impressum</a>
			-->
		</footer>
	</footer>
</f:section>
<f:section name="bodyScripts">
	<script src="{f:uri.resource(path: 'JavaScript/vendor.js', package: 'Joekolade.Waldorf')}"></script>
	<script src="{f:uri.resource(path: 'JavaScript/main.js', package: 'Joekolade.Waldorf')}"></script>
</f:section>
</body>
</html>

