html { height: 100%; } body { min-height: 100%; }
body {
  background: $body-bg;
}

.bg-sign,
.bg-image {
  position: absolute;
  min-height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  @include transition();
}

.bg-image {
  z-index: -2;
  background-size: cover;
  background-repeat: no-repeat;

  &.show {
    opacity: 1;
  }
}

.bg-sign {
  z-index: 201;
  background-image: url(../images/logo_kiga.svg);
  background-repeat: inherit;
  pointer-events: none;

  &.show {
    opacity: .1;
  }
}

.theme {
  &-default {
    .bg-image {
      //background-image: url(../images/BG_blank.jpg);
    }
  }
  &-greenish {
    .bg-image {
      //background-image: url(../images/BG_blauGelb.jpg);
    }
  }
}
