

.hamburger {
  position: absolute;
  right: $gutter;
  width:$burger-width-line;
  height:$burger-height-icon;
  display:block;
  margin: 0 auto;
  margin-top: $gutter;

  z-index: 201;
  pointer-events: initial;

  .line {
	display:block;
	background:$burger-color;
	width:$burger-width-line;
	height:$burger-height-line;
	position:absolute;
	left:0;
	border-radius:($burger-height-line / 2);
	transition: all $burger-transition-time;
	-webkit-transition: all $burger-transition-time;
	-moz-transition: all $burger-transition-time;

	&.line-1 {
	  top:0;
	}
	&.line-2 {
	  top:50%;
	}
	&.line-3 {
	  top:99%;
	}
  }
  &:hover, &:focus {
	.line-1 {
	  transform: translateY($burger-height-line / 2 * -1);
	  -webkit-transform: translateY($burger-height-line / 2 * -1);
	  -moz-transform: translateY($burger-height-line / 2 * -1);
	}
	.line-3 {
	  transform: translateY($burger-height-line / 2);
	  -webkit-transform: translateY($burger-height-line / 2);
	  -moz-transform: translateY($burger-height-line / 2);
	}
  }
  &.active {
	.line-1 {
	  transform: translateY($burger-translateY) translateX($burger-translateX) rotate($burger-rotation);
	  -webkit-transform: translateY($burger-translateY) translateX($burger-translateX) rotate($burger-rotation);
	  -moz-transform: translateY($burger-translateY) translateX($burger-translateX) rotate($burger-rotation);
	}
	.line-2 {
	  opacity:0;
	}
	.line-3 {
	  transform: translateY($burger-translateY * -1) translateX($burger-translateX) rotate($burger-rotation * -1);
	  -webkit-transform: translateY($burger-translateY * -1) translateX($burger-translateX) rotate($burger-rotation * -1);
	  -moz-transform: translateY($burger-translateY * -1) translateX($burger-translateX) rotate($burger-rotation * -1);
	}
  }

  @include media-breakpoint-up(md) {
	display: none;
  }
}
