
@import "content/cs_startbox";
@import "content/cs_text";
@import "content/cs_textimage";


h1, h2, h3, h4 {
  font-family: $header-font;
}

img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: $link-color;

  @include transition(color);

  .content & {
    text-decoration: underline;
  }

  div[class^="joekolade-waldorf-text"] & {
    color: $link-color-alt;

    &:hover,
    &:active {
      color: $link-color-alt-active;
    }
  }

  &:hover,
  &:active {
    color: $link-color-active;
  }

  &:focus {
    outline: none;
  }
}

// lists
// Unordered Lists mit Spiegelstrichen [ http://www.alistapart.com/articles/taminglists/ || http://www.ascii.cl/htmlcodes.htm ]
section.content {
  ul {
    list-style: none;
    margin-left: 12px;
    padding-left: 1em;
    text-indent: -0.8em;

    li:before {
      content: "\2D ";
    }
  }
}

// Layout
//

section.content {

  background: map_get($content-bg, opac);

}

// md and up
@include media-breakpoint-up(md){

  section.content {
    //display: grid;
    //grid-template-rows: 1fr 1fr 1fr;
    //grid-template-columns: repeat(12, 1fr);
  }
}
