footer .sitemap {

  section {

	background: $footer-bg;
	padding: 0.5em $gutter/2 0;

	color: $footer-color;

	li:hover,
	li.current {
		> a {
		  background: lighten($footer-bg, 20%);
		}
	}

	&:nth-child(even) {
	  background: $footer-bg-alt;

	  li:hover,
	  li.current {
		> a {
			background: lighten($footer-bg-alt, 20%);
		}
	  }
	}

	> h3 {
	  @include titillium;
	  margin-top: 0.5em;
	  font-size: $base-font-size;
	  font-weight: bold;

	  cursor: pointer;
	}
  }

  nav > ul {

	max-height: 0;
	overflow: hidden;
	@include transition(max-height);

	&.open {
	  max-height: 100vh;
	}
  }
}

footer {
  width: 100%;

  ul {
	list-style: none;
	margin: 0;
	padding: 0;
	padding-left: $gutter;
  }

  a {
	display: inline-block;
	padding: .5em;
	width: 100%;
	color: $footer-color;
	font-size: $base-font-size;
	font-weight: $font-weight-light;
  }

  footer {
	display: flex;
	flex-direction: column;


	position: relative;
	z-index: 202;

	a {
	  background: $super-footer-bg;

	  &:nth-child(even) {
		background: $super-footer-bg-alt;
	  }
	}
  }
}



@include media-breakpoint-up(md) {
  footer .sitemap {

	@include gridCols;

	section {
	  grid-column: 1 / 4;
	  grid-column-start: 1;
	  grid-column-end: 4;
	  -ms-grid-column-span: 3;

	  + section {
	  	grid-column: 4 / 10;
		grid-column-start: 4;
		grid-column-end: 10;
		-ms-grid-column-span: 6;

		+ section {
		  grid-column: 10 / 13;
		  grid-column-start: 10;
		  grid-column-end: 13;
		  -ms-grid-column-span: 3;
		}
	  }
	}

	section > h3 {
	  cursor: default;
	}

	nav > ul {
	  overflow: visible;
	  max-height: 9999px;
	  padding-bottom: $gutter;
	}

  }
footer footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: stretch;

  a {
	width: 50%;
	text-align: center;
  }
}

}

@include media-breakpoint-up(lg) {
  footer .sitemap {
	section {
	}
  }

}
