

body > header {
  pointer-events: none;
}

section.title {
  background: map_get($waldorf-colors, pale);
  padding: $gutter / 2;

  h1 {
    text-align: center;
    margin: 0;
    text-transform: uppercase;
    color: $title-color;

    font-size: 1.5 * $base-font-size;
  }

}
section.menu {
  background: map_get($waldorf-colors, rouge);
  opacity: 0;
  pointer-events: none;
  position: absolute;
  z-index: 2;

  @include naviStyle;
}

// md and up
@include media-breakpoint-up(md){

  body > header {
    display: grid;
    grid-template-rows: $header-height 1fr;
    grid-template-columns: repeat(12, 1fr);
    min-height: $header-height;
    z-index: 2;
    position: absolute;
    top: 0;
    width: 100%;
  }

  section.title {
    grid-column-start: 1;
    grid-column-end: 13;
    -ms-grid-column-span: 12;
  }

  section.menu {
    opacity: 1;
    pointer-events: initial;
    grid-column: 10 / 13;
    grid-column-start: 10;
    grid-column-end: 13;
    -ms-grid-column-span: 2;
    position: static;
  }

  section.content {
    padding-top: $header-height;
  }
}

// lg and up
@include media-breakpoint-up(lg){

  body > header {
    grid-template-rows: $header-height $header-height 1fr;
  }
  section.title {
    grid-row: 1 / 2;
    grid-column: 1 / 10;
    grid-column-start: 1;
    grid-column-end: 10;
    -ms-grid-column-span: 9;
    grid-row-start: 1;
    grid-row-end: 2;
    -ms-grid-row-span: 1;
  }

  section.menu {
    position: static;
    opacity: 1;

    grid-column: 10 / 13;
    grid-row: 1 / 4;

    grid-column-start: 10;
    grid-column-end: 13;
    -ms-grid-column-span: 3;
    grid-row-start: 1;
    grid-row-end: 4;
    -ms-grid-row-span: 3;
  }
}

