// News scss

$news-figure-width: 120px;
$news-highlight-width: 128px;
$news-bg: rgba(map_get($waldorf-colors, rouge-dark), 0.5);

$news-link-color: map_get($waldorf-colors, sun-light);
$news-link-color-active: darken($news-link-color, 15%);

$news-top-bg: white;
$news-top-color: map_get($waldorf-colors, rouge-dark);
$news-top-link: map_get($waldorf-colors, alt);
$news-top-link-active: darken($news-top-link, 15%);

// blueish
$blueish-news-link-color: map_get($waldorf-theme-blueish, sun-light);
$blueish-news-link-color-active: darken($blueish-news-link-color, 15%);
$blueish-news-top-accent-color: map_get($waldorf-colors, pale);

.joekolade-waldorf-newslist {
  padding-top: calc(2.5em + #{$burger-height-icon});

  .joekolade-waldorf-newslist__item {
	position: relative;
	background-color: $news-bg;
	padding: $gutter/2 $gutter;
	margin-bottom: $gutter;
	z-index: 2;

	//&::after {
	//  content: '';
	//  position: absolute;
	//  top: 0;
	//  right: 0;
	//  width: 0;
	//  height: 0;
	//  border-style: solid;
	//  border-width: 0 $news-highlight-width $news-highlight-width 0;
	//  border-color: transparent rgba(255, 255, 255, 0.2) transparent transparent;
	//}

	.meta {
	  width: 100%;
	  display: flex;
	  justify-content: space-between;
	}

	figure {
	  width: $news-figure-width;

	  padding: 0;
	  margin: 0;
	}

	a {
	  color: $news-link-color;

	  body.theme-blueish & {
		color: $blueish-news-link-color;

	  }
	}

	.readmore {
	  display: inline-block;
	  margin-bottom: 1em;

	  i, svg {
		display: inline-block;
		margin-left: 0.25em;
		@include transition;
		transform: translate(0, 1px);
	  }

	  &:hover {
		i, svg {
		  transform: translate($gutter/4, 1px);
		}
	  }
	}

	h2 + h3 {
	  margin-top: -14px;
	}

	&.top {
	  //border: 2px solid $news-top-accent-color;
	  background-color: $news-top-bg;
	  color: $news-top-color;

	  figure {
		background: $news-top-bg;
		color: $news-bg;
		border-color: transparent !important;
	  }

	  a {
		color: $news-top-link;
	  }

	  &::after {
		border-color: transparent rgba($news-top-color, 0.2) transparent transparent;
	  }
	}

  }

  @include media-breakpoint-up(sm) {

	.joekolade-waldorf-newslist__item {
	  .meta {
		display: block;
		position: absolute;
		right: $gutter/2;
		text-align: right;
	  }
	}

  }
  @include media-breakpoint-up(md) {
	padding-top: 1.25em;

	.joekolade-waldorf-newslist__item {

	  figure {
		position: absolute;
		top: 0;
		right: 100%;

		padding: 10px;
		line-height: 0.9;

		margin: 0;
		background-color: $news-bg;
		border-right: 1px solid rgba(white, 0.5);
		border-radius: $gutter/2 0 0 $gutter/2;

	  }
	}
  }
  @include media-breakpoint-up(lg) {

  }
  @include media-breakpoint-up(xl) {
	.joekolade-waldorf-newslist__item {
	  width: calc(100% - #{$news-figure-width});

	  &:nth-child(even) {

		figure {
		  right: auto;
		  left: 100%;
		  border-right: none;
		  border-left: 1px solid rgba(white, 0.5);
		  border-radius: 0 $gutter/2 $gutter/2 0;
		}
	  }
	}
  }

}
