.joekolade-waldorf-textimageleft,
.joekolade-waldorf-textimageright,
.joekolade-waldorf-textsliderright {

  margin-left: -$gutter/2;
  margin-right: -$gutter/2;

  display: flex;
  flex-direction: column;

  > div {

	background-color: map_get($content-bg, default);
	padding: 0 $gutter/2;
  }

  > figure {

	margin: 0;
	margin-bottom: -.375rem; // fix margin bottom
	background-color: map_get($content-bg, default);

	img {
	  max-width: 100%;
	  height: auto;

	}
  }
}
.joekolade-waldorf-textimageleft {
  flex-direction: column-reverse;
}

@include media-breakpoint-up(sm) {
  .joekolade-waldorf-textimageleft:not(.joekolade-waldorf-startbox):not(.joekolade-waldorf-homepagebox),
  .joekolade-waldorf-textimageright,
  .joekolade-waldorf-textsliderright {

	@include gridCols;
  }

  .joekolade-waldorf-textimageright,
  .joekolade-waldorf-textsliderright {
	> div {
	  grid-column: 1 / 7;
	  grid-column-start: 1;
	  grid-column-end: 7;
	  -ms-grid-column-span: 6;
	}
	> figure {
	  grid-column: 7 / 13;
	  grid-column-start: 7;
	  grid-column-end: 13;
	  -ms-grid-column-span: 6;
	}

  }
  .joekolade-waldorf-textimageleft:not(.joekolade-waldorf-startbox):not(.joekolade-waldorf-homepagebox) {
	> div {
	  grid-column: 7 / 13;
	  grid-column-start: 7;
	  grid-column-end: 13;
	  -ms-grid-column-span: 6;
	}
	> figure {
	  grid-column: 1 / 7;
	  grid-column-start: 1;
	  grid-column-end: 7;
	  -ms-grid-column-span: 6;
	}
  }

}
@include media-breakpoint-up(md) {

  .joekolade-waldorf-textimageleft,
  .joekolade-waldorf-textimageright,
  .joekolade-waldorf-textsliderright {

	@include gridCols;
  }


  .joekolade-waldorf-textimageleft {
	> div {
	  grid-column: 4 / 10;
	  grid-column-start: 4;
	  grid-column-end: 10;
	  -ms-grid-column-span: 6;
	}
	> figure {
	  grid-column: 1 / 4;
	  grid-column-start: 1;
	  grid-column-end: 4;
	  -ms-grid-column-span: 3;
	}

	&.wide {
	  > div {
		grid-column: 10 / 13;
		grid-column-start: 10;
		grid-column-end: 13;
		-ms-grid-column-span: 3;
	  }
	  > figure {
		grid-column: 1 / 10;
		grid-column-start: 1;
		grid-column-end: 10;
		-ms-grid-column-span: 9;
	  }
	}
  }

  .joekolade-waldorf-textimageright,
  .joekolade-waldorf-textsliderright {
	> div {
	  grid-column: 1 / 10;
	  grid-column-start: 1;
	  grid-column-end: 10;
	  -ms-grid-column-span: 9;
	}
	> figure {
	  grid-column: 10 / 13;
	  grid-column-start: 10;
	  grid-column-end: 13;
	  -ms-grid-column-span: 3;
	}

	&.wide {
	  > div {
		grid-column: 1 / 4;
		grid-column-start: 1;
		grid-column-end: 4;
		-ms-grid-column-span: 3;
	  }
	  > figure {
		grid-column: 4 / 13;
		grid-column-start: 4;
		grid-column-end: 13;
		-ms-grid-column-span: 9;
	  }
	}
  }
}
