$startbox-quote-fsize: 1.4666666667 * $base-font-size;
$startbox-caption-fsize: $base-font-size;
$startbox-bg-color: map_get($waldorf-colors, sun);

$image-ratio: 169;
$image-ratio-md: 169;


.joekolade-waldorf-homepagebox,
.joekolade-waldorf-startbox {
  .flex:not(.neos-inline-editable) {
	display: flex;
	align-items: center;
  }
}


.startbox {
  margin-left: -$gutter/2;
  margin-right: -$gutter/2;

  blockquote {
	margin: 0;
  }

}
.startbox__text,
.startbox__caption {
  padding: $gutter/2;
}

.joekolade-waldorf-homepagebox {
  .startbox__text {
	font-size: $startbox-quote-fsize;
	line-height: 1.6;
  }
}
@include media-breakpoint-up(md){

  .startbox {

	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-columns: repeat(12, 1fr);
	.startbox__text {
	  grid-column: 4 / 13;
	  grid-row: 2 / 3;
	}
  }
  .startbox__text,
  .startbox__caption {
	background-color: $startbox-bg-color;
	padding: $gutter;
  }
}
