.joekolade-waldorf-text {

  margin-left: -$gutter/2;
  margin-right: -$gutter/2;

  padding: $gutter $gutter/2;

  @include media-breakpoint-up(md) {

    padding-left: 0;
    padding-right: 0;

    @include gridCols;

    > div {
      grid-column: 4 / 10;
      grid-column-start: 4;
      grid-column-end: 10;
      -ms-grid-column-span: 6;

      background-color: map_get($content-bg, default);
      padding: 0 $gutter/2;
    }
  }
}
