
// Animation
//

$transition-duration: 0.3s;
$transition-easing: linear;
$transition-property: all;
$transition-delay: 0s;
$transition: $transition-property $transition-duration $transition-easing $transition-delay;

// Colors
//

// redish
$waldorf-colors: (
	pale: #ffae9e,
	pale-medium: #bc7268,
	pale-dark: #cb6b58,
	rouge: #cd5942,
	rouge-medium: #934a3d,
	rouge-dark: #7f574f,
	sun: #cc762d,
		sun-light: #ccaa28,
	sand: #9a826e,

	neutral: white,
	alt: black,
	retro: #564332,
);

// USE: map-get($waldorf-colors, colorname)

// Sizes
//

$grid-breakpoints: (
	xs: 0,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px
);

$gutter: 2 * 0.625rem; // ~20px
$grid-columns: 12;

$base-font-size: 0.9375rem; // ~15px
$small-font-size: 0.875 * $base-font-size; // ~13px
$big-font-size: 1.2 * $base-font-size; // ~18px

// Content styles
//

$body-bg: map_get($waldorf-colors, sun);
$text-color: map_get($waldorf-colors, neutral);

$base-font: $font-titillium;
$base-font-weight: 400;
$font-weight-light: 200;
$font-weight-bold: 700;

$header-font: $font-antropos;
$link-color: white;
$link-color-active: darken($link-color, 15%);
$link-color-alt: map_get($waldorf-colors, rouge-medium);
$link-color-alt-active: darken($link-color-alt, 15%);

$content-bg: (
	default: rgba(map_get($waldorf-colors, sun), 1),
	opac: rgba(map_get($waldorf-colors, sun), 0.7),
);

// Header
//

$header-height: 47px;
$title-color: map_get($waldorf-colors, pale-dark);

// Burger menu toggle
//

//$burger-background: map_get($waldorf-colors, pale-medium);
$burger-color: map_get($waldorf-colors, retro);

$burger-height-icon: $base-font-size * 1.1;
$burger-width-line: 2 * $burger-height-icon;
$burger-height-line: 3px;

$burger-transition-time: 0.4s;
$burger-rotation: 45deg;
$burger-translateY: ($burger-height-icon / 2);
$burger-translateX: 0;


// Footer
//

$footer-bg: map_get($waldorf-colors, pale-medium);
$footer-bg-alt: map_get($waldorf-colors, rouge-medium);
$footer-color: map_get($waldorf-colors, neutral);

$super-footer-bg: map_get($waldorf-colors, sand);
$super-footer-bg-alt: map_get($waldorf-colors, rouge-dark);
