// Basics
@import 'basics/breakpoints';
@import 'basics/fonts';
@import 'basics/mixins';

// Variables
@import 'variables';
@import 'basics/grid_helper';

// bower:scss
@import "bower_components/normalize-scss/_normalize.scss";
@import "bower_components/slick-carousel/slick/slick.scss";
// endbower

html, body {
  box-sizing: border-box;

  * {
    box-sizing: inherit;
  }
}

body {
  font-family: $base-font;
  font-weight: $base-font-weight;
  color: $text-color;
}

body > section {

  > * {
    padding: 0 $gutter/2;
  }

}

// Neos backend
.backend {
  opacity: 0.6;
}

// Themes
@import "themes/blueish";
//@import "themes/greenish";

// Partials
@import 'partials/background';
@import 'partials/burger';
@import 'partials/header';
@import 'partials/content';
@import 'partials/footer';
@import 'partials/js_gesture_menu';
@import 'partials/news';

