
// Titillium
//

@import url('https://fonts.googleapis.com/css?family=Titillium+Web:200,400,700');

$font-titillium: 'Titillium Web', sans-serif;

@mixin titillium() {
  font-family: $font-titillium
}

.titillium {
  @include titillium;
}


// Antropos
//

@font-face {
  font-family: 'Baar-Antropos';
  src:url('../fonts/Baar-Antropos.ttf.woff') format('woff'),
  url('../fonts/Baar-Antropos.ttf.svg#Baar-Antropos') format('svg'),
  url('../fonts/Baar-Antropos.ttf.eot'),
  url('../fonts/Baar-Antropos.ttf.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

$font-antropos: 'Baar-Antropos';

@mixin antropos(){
  font-family: $font-antropos;
}
.antropos {
  @include antropos;
}
