

@mixin gridCols($number: 12) {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat($number, 1fr);
}

.show {
  &-md-up {
	display: none;

	@include media-breakpoint-up(md){
	  display: initial;
	}
  }

  &-lg-up {
	display: none;

	@include media-breakpoint-up(lg){
	  display: initial;
	}
  }
}
