@mixin transition($tra-property: $transition-property, $tra-duration: $transition-duration, $tra-easing: $transition-easing, $tra-delay: $transition-delay){
  transition: $tra-property $tra-duration $tra-easing;

  @if $tra-delay {
    transition-delay: $tra-delay;
  }
}


@mixin naviStyle() {
  nav {
    background: map_get($waldorf-colors, rouge);
    padding-bottom: 1px;

    ul {
      list-style: none;
      margin: 0;
      padding: $gutter $gutter;
    }
  }
  li a {
    display: block;
    color: white;
    cursor: pointer;
    padding: $gutter/4 $gutter;

    @include transition;

    &:hover {
      background: white;
    }
  }
  li.current a {
    color: darken(white, 20%);

    &:hover {
      color: darken(map_get($waldorf-colors, rouge), 20%);
    }
  }
  a {
    display: inline-block;
    color: white;
    padding: 0 $gutter/4;
    margin-left: -$gutter/4;
    margin-right: -$gutter/4;
    &:hover {
      background: white;
      color: map_get($waldorf-colors, rouge);
    }
  }
}
