<div class="joekolade-waldorf-newslist__item{f:if(condition:topnews, then:' top')}">
	<div class="meta">
		<div class="date">
			{month -> f:format.raw()} {year -> f:format.raw()}
		</div>
	</div>
	<h2>{title}</h2>
	<f:if condition="{subtitle}">
		<h3>{subtitle}</h3>
	</f:if>

	<f:if condition="{newslistimage}">
		{newslistimage -> f:format.raw()}
	</f:if>

	<div>
		{teaser -> f:format.raw()}
		<f:if condition="!{nodetail}">
			{link -> f:format.raw()}
		</f:if>
	</div>
</div>
