
$waldorf-theme-blueish: (
	pale: #eafe9e,
	pale-medium: #4797bf,
	pale-dark: #c0b98d,
	rouge: #788050,
	rouge-medium: #658873,
	rouge-dark: #112a34,
	sun: #a2b731,
	sun-light: #79b727,
	sand: #1e498b,

	neutral: white,
	alt: black
);

body.theme-blueish {

  // Override variables and corresponsding styles
  //

  // Content styles
  $blueish-body-bg: map_get($waldorf-theme-blueish, sun);
  $blueish-text-color: map_get($waldorf-theme-blueish, neutral);

  $blueish-link-color: map_get($waldorf-theme-blueish, pale-medium);
  $blueish-link-color-active: darken($blueish-link-color, 15%);

  $blueish-link-color-alt: map_get($waldorf-theme-blueish, sand);
  $blueish-link-color-alt-active: darken($blueish-link-color-alt, 15%);

  $blueish-content-bg: (
		default: rgba(map_get($waldorf-theme-blueish, sun), 1),
		  opac: rgba(map_get($waldorf-theme-blueish, sun), 0.7),
  );

  // Header
  $blueish-title-color: map_get($waldorf-theme-blueish, pale-dark);

  // Burger menu toggles
  $blueish-burger-color: map_get($waldorf-theme-blueish, retro);

  // Footer
  $blueish-footer-bg: map_get($waldorf-theme-blueish, pale-medium);
  $blueish-footer-bg-alt: map_get($waldorf-theme-blueish, rouge-medium);
  $blueish-footer-color: map_get($waldorf-theme-blueish, neutral);

  $blueish-super-footer-bg: map_get($waldorf-theme-blueish, sand);
  $blueish-super-footer-bg-alt: map_get($waldorf-theme-blueish, rouge-dark);


  // partials/_background.scss
  background: $blueish-body-bg;

  // partials/_burger.scss
  .hamburger {
	.line {
	  background: $blueish-burger-color;
	}
  }

  // partials/_content.scss
  a {
	color: $blueish-link-color;

	&:hover,
	&:active {
	  color: $blueish-link-color-active;
	}


	div[class^="joekolade-waldorf-text"] & {
	  color: $blueish-link-color-alt;

	  &:hover,
	  &:active {
		color: $blueish-link-color-alt-active;
	  }
	}
  }
  section.content {
	background: map_get($blueish-content-bg, opac);
  }

  // partials/content/_cs_startbox.scss
  $blueish-startbox-bg-color: map_get($waldorf-theme-blueish, sun);
  @include media-breakpoint-up(md){
	.startbox__text,
	.startbox__caption {
	  background-color: $blueish-startbox-bg-color;
	}
  }

  // partials/content/_cs_text.scss
  .joekolade-waldorf-text {
	@include media-breakpoint-up(md) {

	  > div {
		background-color: map_get($blueish-content-bg, default);
	  }
	}
  }

  // partials/content/_cs_textimage.scss
  .joekolade-waldorf-textimageleft,
  .joekolade-waldorf-textimageright,
  .joekolade-waldorf-textsliderright {
	> div {

	  background-color: map_get($blueish-content-bg, default);
	}
	> figure {
	  background-color: map_get($blueish-content-bg, default);
	}
  }

  // partials/_footer.scss
  footer .sitemap {

	section {

	  background: $blueish-footer-bg;
	  color: $blueish-footer-color;

	  li:hover,
	  li.current {
		> a {
		  background: lighten($blueish-footer-bg, 20%);
		}
	  }

	  &:nth-child(even) {
		background: $blueish-footer-bg-alt;

		li:hover,
		li.current {
		  > a {
			background: lighten($blueish-footer-bg-alt, 20%);
		  }
		}
	  }
	}
  }
  footer {
	a {
	  color: $blueish-footer-color;
	}
	footer {
	  a {
		background: $blueish-super-footer-bg;

		&:nth-child(even) {
		  background: $blueish-super-footer-bg-alt;
		}
	  }
	}
  }

  // partials/_header.scss
  section.title {
	background: map_get($waldorf-theme-blueish, pale);
	h1 {
	  color: $blueish-title-color;
	}
  }
  section.menu {
	background: map_get($waldorf-theme-blueish, rouge);

	// @include naviStyle
	nav {
	  background: map_get($waldorf-theme-blueish, rouge);
	}
	li.current a {
	  color: darken(white, 20%);

	  &:hover {
		color: darken(map_get($waldorf-theme-blueish, rouge), 20%);
	  }
	}
	a {
	  &:hover {
		background: white;
		color: map_get($waldorf-theme-blueish, rouge);
	  }
	}
  }

  // partials/_js_gesture_menu.scss
  $blueish-jsgmemu-bg: map_get($waldorf-theme-blueish, pale-medium);
  .app-menu {
	background-color: $blueish-jsgmemu-bg;
  }

}
