{namespace neos=Neos\Neos\ViewHelpers}
{namespace ts=Neos\Fusion\ViewHelpers}
<f:render section="itemsList" arguments="{items: items}" />

<f:section name="itemsList">
	<f:for each="{items}" as="item" iteration="i">
		<f:if condition="{i.isFirst}">
			<f:then>
				<neos:link.node node="{item.node}" />
			</f:then>
			<f:else>
				<neos:link.node node="{item.node}" rel="nofollow" />

			</f:else>
		</f:if>
	</f:for>
</f:section>
